@charset "ISO-8859-1";

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
	html
	{
		font-size: 15px;
	}
	
	nav
	{
		height: 100%;
		width: 100%;
		display: block;
	}
	
	nav a
	{
		height: 100%;
		display: block;
		overflow: hidden;
	  	padding: 15px;       
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{
	html
	{
		font-size: 15px;
	}
	
	nav
	{
		height: 100%;
		width: 100%;
		display: block;
	}
	
	nav a
	{
		height: 100%;
		display: block;
		overflow: hidden;
	  	padding: 15px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{
	html
	{
		font-size: 15px;
	}
	
	nav
	{
		height: 100%;
		width: 100%;
		display: block;
	}
	
	nav a
	{
		height: 100%;
		width: 100%;
		display: inline;
		overflow: hidden;
		padding: 0px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
	html
	{
		font-size: 25px;
	}
	
	nav
	{
		height: 100%;
		display: block;
		padding: 25px;
	}
	
	nav a
	{
		height: 100%;
		display: inline;
		overflow: hidden;
	  	padding: 25px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
	html
	{
		font-size: 25px;
	}
	
	nav
	{
		height: 100%;
		display: block;
		padding: 25px;
	}
	
	nav a
	{
		height: 100%;
		display: inline;
		overflow: hidden;
	  	padding: 25px;
	}
} 

html
{
	font-family: Noto Sans, Tahoma, Verdana, sans-serif;
}

nav
{
	background-color: #333;
}

nav a
{
	background-color: #333;	
	color: white;
	text-align: center;
  	text-decoration: none;	
}

nav a:hover
{
	color: gold;
	background-color: #111;
}

nav .nav-active
{
	color: gold;
	background-color: #111;
}

.footer
{
	color: white;
	background-color: #333;
	padding: 20px;
	margin: 0px;
}